<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>

        <!-- Close button -->
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>

        <!-- Menu -->

        <ul class="submenu vertical menu">
          <li><a href="/student/welcome"><i class="step fi-home"></i> Welcome</a></li>
	      <li><a href="/student/problem"><i class="step fi-puzzle"></i> Problem</a></li>
	      <li><a href="/student/scoreboard"><i class="step fi-flag"></i> Scoreboard</a></li>
	      <li><a href="/student/statistic"><i class="step fi-graph-bar"></i> Statistic</a></li>
	      <li><a href="/student/dashboard"><i class="step fi-torso"></i> Dashboard</a></li>
	      <li><a href="/student/logout"><i class="step fi-power"></i> Logout</a></li>
        </ul>

      </div>

      <div class="off-canvas-content" data-off-canvas-content>
        <!-- Page content -->

        <!-- START -->
<div data-sticky-container style="margin-bottom:64px;">
<div data-sticky data-options="marginTop:0;" style="width:100%">
		
	<div class="top-bar">
		<div class="row">

			<div class="large-11 large-centered columns">

				<div class="title-bar" data-responsive-toggle="offCanvas" data-hide-for="large">
				  <button class="menu-icon" type="button" data-toggle="offCanvas" data-open="offCanvasLeft"></button>
				  <div class="title-bar-title">Menu</div>
				</div>

				<div class="top-bar hide-for-medium-only hide-for-small-only">
				  <div class="top-bar-left">
				    <ul class="dropdown menu" data-dropdown-menu>
				      <li class="menu-text">ENSIGN</li>
				      <li><a href="/student/welcome"><i class="step fi-home"></i> Welcome</a></li>
				      <li><a href="/student/problem"><i class="step fi-puzzle"></i> Problem</a></li>
				      <li><a href="/student/scoreboard"><i class="step fi-flag"></i> Scoreboard</a></li>
				      <li><a href="/student/statistic"><i class="step fi-graph-bar"></i> Statistic</a></li>
				    </ul>
				  </div>
				  <div class="top-bar-right">
				    <ul class="dropdown menu">
				      <li><a href="/student/dashboard"><i class="step fi-torso"></i> Dashboard</a></li>
					  <li><a href="/student/logout"><i class="step fi-power"></i> Logout</a></li>
				    </ul>
				  </div>
				</div>

			</div>

		</div>
	</div>


</div>
</div>

        <!-- END -->