bzr
chardet
colorama
configobj
decorator
Django==1.9
html5lib
httplib2
ipython
keyring
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
lpthw.web
matplotlib
mercurial
numpy
oauth
paramiko
pexpect
Pillow
pycrypto
pyparsing
python-dateutil
pytz
requests
scipy
SecretStorage
simplegeneric
simplejson
six
stevedore
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
wadllib
zope.interface
