	{% include "teacher/templates/header.html" %}
	
	<div class="top-bar">
		<div class="row">
			<div class="large-7 large-centered columns">

				<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
				  <button class="menu-icon" type="button" data-toggle></button>
				  <div class="title-bar-title">Menu</div>
				</div>

				<div class="top-bar" id="example-menu">
				  <div class="top-bar-left">
				    <ul class="dropdown menu" data-dropdown-menu>
				      <li class="menu-text">ENSIGN</li>
				      <li><a href="/teacher/">Home</a></li>
				    </ul>
				  </div>
				</div>

			</div>
		</div>
	</div>

	<div class="row" style="margin-top:64px">
		<div class="columns">
			<div class="large-7 large-centered columns align-self-middle">
				<h1>ENSIGN</h1>
				<p>Education and Network Security w/ IGNiter</p>
				<p>
					Interactive Multimedia based on <a href="http://ctftime.org/">Capture The Flag</a> Game with <a href="http://www.niu.edu/facdev/_pdf/guide/strategies/problem_based_learning.pdf">Problem Based Learning</a> Model using <a href="http://www-igm.univ-mlv.fr/~lecroq/string/node14.html">Boyer-Moore</a> Algorithm to Improve Comprehension of SMK teachers in Network Security Materials
				</p>
			</div>
		</div>
	</div>
	{% include "teacher/templates/footer.html" %}
