	{% include "teacher/templates/header.html" %}
	{% include "teacher/templates/menu.html" %}
		
	<div class="row">
		<div class="columns">
			<div class="large-9 large-centered columns align-self-middle">
				
				<div class="callout">
					<label><strong>Dashboard</strong></label>
					<small>Change the basic settings of your account.</small>
				</div>
				
				{% if message %}
				<div hidden="hidden">
					<div class="eval-js" id="message">{{message}}</div>
					<pre>
						<code>$.toast({
										    heading: '{{heading}}',
										    icon: '{{icon}}',
										    showHideTransition: 'slide',
										    text: '{{message}}',
										    position: 'bottom-right',
										    stack: false,
										    loaderBg: '#4fc1e6',
										    hideAfter: 3000})
						</code>
					</pre>
				</div>
				{% endif %}
				
				<div class="callout large">
					
						<form action="/teacher/dashboard/update/{{query.id}}" method="post" data-abide>
							<div class="row">
			
								<div class="medium-7 medium-centered columns">
									<label>
										<h5 class="text-center">Account Information</h5>
									</label>
									
									<label>
										{% csrf_token %}
									</label>
									
									<label>Full name
										<input type="text" name="fullname" placeholder="Full name" value="{{query.fullname}}" required autofocus>
									</label>
									
									<label>Techer identity card number
										<input type="text" name="ticnumber" placeholder="Teacher identity card number" value="{{query.ticnumber}}" required autofocus>
									</label>
									
									
									<label>
										<input class="button expanded" type="submit" value="Update">
									</label>
								</div>
							</div>
						</form>
						
				</div>
			</div>
		</div>
	</div>
	{% include "teacher/templates/footer.html" %}
