{% include "teacher/templates/header.html" %}
{% include "teacher/templates/menu.html" %}

	<div class="row">
		<div class="columns">
			<div class="large-9 large-centered columns align-self-middle">
				
				<div class="callout">
					<label><strong>Statistic</strong></label>
					<small>View all student milestones.</small>
				</div>
				
				{% if message %}
				<div hidden="hidden">
					<div class="eval-js" id="message">{{message}}</div>
					<pre>
						<code>$.toast({
										    heading: '{{heading}}',
										    icon: '{{icon}}',
										    showHideTransition: 'fade',
										    text: '{{message}}',
										    position: 'top-right',
										    stack: false,
										    loaderBg: '#4fc1e6',
										    hideAfter: 3000})
						</code>
					</pre>
				</div>
				{% endif %}
				
				<div class="large-centered columns callout">
					<div class="callout">
						<label>How many times all team answered incorrectly?</label>
					</div>
					  <canvas width="768px" height="384px" id="myChart"></canvas>>

					  <div class="callout">
						{% for k,v in stats_tries.items %}
						<small style="background-color:rgb({{v.0.0}},{{v.0.1}},{{v.0.2}});border-radius:5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small><small> {{k}}</small><br/>
						{% endfor %}
					  </div>
				</div>
				
			</div>
		</div>
	</div>

	<script type="text/javascript">

            window.onload = function() { 
                init();
            };

            function init() {
                var ctx = $("#myChart").get(0).getContext("2d");

                var data = {
                    labels: [{% for s in problem %} "{{s}}", {% endfor %}],
                    datasets: [
                        {% for k,v in stats_tries.items %}
						{	label: "{{k}}",
							fillColor: "rgba({{v.0.0}},{{v.0.1}},{{v.0.2}},0.5)",
							strokeColor: "rgba({{v.0.0}},{{v.0.1}},{{v.0.2}},1)",
							pointColor: "rgba({{v.0.0}},{{v.0.1}},{{v.0.2}},1)",
							pointStrokeColor: "#fff",
							data: {{v.1}}
						},
						{% endfor %}
                    ]
                }

                var myNewChart = new Chart(ctx).Bar(data);
            }

        </script>

{% include "teacher/templates/footer.html" %}
